one_function.rb
results.dat
media
simplex_g.dat
simplex_h.dat
simplex_l.dat
simplex_norm.dat
lib/dataplot_x.dat
lib/dataplot_y.dat
lib/population.dat
lib/simplex_g.dat
lib/simplex_h.dat
lib/simplex_l.dat
lib/simplex_norm.dat
lib/cfgplot.dat
algorithms
ga_outputs.txt
nm_outputs.txt